# Node modules
node_modules/

# Build output
.next/
out/
dist/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
.cache/
.babel_cache/
.pnp.*
.turbo/

# Env files
.env
.env.local
.env.development
.env.production

# OS-specific
.DS_Store
Thumbs.db

# IDE/editor
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
